<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySite</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="MySite Logo" height="40">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">Order</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid ">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
   <footer class="footer">
    <img src="/images/tom.png" class="footer-img left" />
    
    <div class="footer-text">
        <p>
            0123 456 789 <br />
            1233 St Vancouver <br />
            12PM – 10PM
        </p>
    </div>

    <img src="/images/jerry.png" class="footer-img right" />
</footer>


</body>

</html>